<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<div id="header" th:fragment="header">
    <span id="logo"><h1>ShowMeThePC</h1></span> <!--logo end-->
    <span id="userInfo" >
            <a href="/logIn" class="log_in_btn" th:if="${logInMember==null}">로그인</a>
            <a href="/member" class="register_btn" th:if="${logInMember==null}">회원가입</a>
            <a href="/myPage" class="my_page_btn" th:if="${logInMember!=null}">마이페이지</a>
        </span><!--userInfo End-->
</div><!--header end-->